{{ define "main" }}
    {{ partial "news_list_header" . }}

    {{ partial "blocks/news_filters.html" . }}

        <section>
            {{- .Content -}}
            <div class="news">
                {{$pages := partial "pages_in_section_deep" .}}
                {{range $index,$page := where (.Paginate $pages).Pages ".Params.hidden" "ne" true}}
                    {{$page.Render "list_item"}}
                {{end}}
                <div class="pagination-wrap">
                    {{- template "_internal/pagination.html" . -}}
                </div>
            </div>
        </section>
{{ end }}
